.film {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--main-bacground-color);
  border-radius: 5%;
  padding: 30px;
  width: 500px;
}

.film__title {
  text-align: center;
}
